<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodingExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CC929191C0ED324007C8ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC929321C0ED324007C8ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CC9293D1C0ED324007C8ABE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
